
/* css reset start */
*,
*::before,
*::after {
box-sizing: border-box;
}
* {
margin: 0;
padding: 0;
font: inherit;
}
body {
min-height: 100vh;
background: rgb(51, 102, 204);
color: white;
}
/* css reset end */

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trashIcon {
  width: 20px;
  height: 20px;
}

.trashIcon:hover {
  cursor: pointer;
}

input {
  margin: 5px;
  height: 30px;
  border-radius: 8px;
  padding: 5px;
}

button {
  height: 30px;
  border-radius: 10px;
  padding: 5px;
}

button:hover {
  cursor: pointer;
}